<div class="div-title">
  <h1 class="text-title fs-1">
    PREGUNTAS <span class="d-block">FRECUENTES</span>
  </h1>
</div>
<div style="padding: 0 16px; max-width: 600px; margin: auto">
  <div class="mt-40">
    <div class="col-md-12">
      <h2 class="font-bold text-separated">¿CÓMO SE ELIGE AL O GANADORES?</h2>
    </div>
  </div>
  <div class="mt-20">
    <h4 class="text-gray">
      Todos nuestros sorteos se realizan en base a la Lotería Nacional para la
      Asistencia Pública mexicana.​ El ganador de Sorteos La Mochila será el
      participante cuyo número de boleto coincida con las últimas cifras del
      primer premio ganador de la Lotería Nacional (las fechas serán publicadas
      en nuestra página oficial).
    </h4>
  </div>

  <div class="mt-40">
    <div class="col-md-12">
      <h2 class="font-bold text-separated">
        ¿DÓNDE SE PUBLICA A LOS GANADORES?
      </h2>
    </div>
  </div>
  <div class="mt-20">
    <h4 class="text-gray">
      En nuestra página oficial de Facebook Sorteos La Mochila puedes encontrar
      todos y cada uno de nuestros sorteos anteriores, así como las
      transmisiones en vivo con Lotería Nacional y las entregas de premios a los
      ganadores!
    </h4>
  </div>

  <div class="mt-40">
    <h2 class="font-bold text-separated">
      ¿QUÉ SUCEDE CUANDO EL NÚMERO GANADOR ES UN BOLETO NO VENDIDO?
    </h2>
  </div>
  <div class="mt-20">
    <h4 class="text-gray">
      Se elige un nuevo ganador realizando la misma dinámica en otra fecha
      cercana (se anunciará la nueva fecha).
    </h4>
  </div>

  <div class="mt-40">
    <h4 class="font-bold">Envíanos tus preguntas a nuestras redes sociales.</h4>
  </div>
  <div class="mt-20">
    <div class="col-md-6 offset-md-3 text-center">
      <ul class="nav justify-content-center list-unstyled d-flex">
        <li class="ms-3 iconos">
          <a
            class="text-black"
            href="https://wa.me/526681379618?text=Quiero%20información%20sobre%20sorteo…"
            target="_blank"
            ><i class="bi bi-whatsapp"></i
          ></a>
        </li>
        <li class="ms-3 iconos">
          <a
            class="text-black"
            href="https://www.tiktok.com/@sorteos.la.mochil?_t=8r6AGV30z38&_r=1"
            target="_blank"
            ><i class="bi bi-tiktok"></i
          ></a>
        </li>
        <li class="ms-3 iconos">
          <a
            class="text-black"
            href="https://www.instagram.com/sorteoslamochilaoficial/profilecard/?igsh=MW04emIzbHQ0bGljYw=="
            target="_blank"
            ><i class="bi bi-instagram"></i
          ></a>
        </li>
        <li class="ms-3 iconos">
          <a
            class="text-black"
            href="https://www.facebook.com/share/28mxQ6omPtoQ5t4M/"
            target="_blank"
            ><i class="bi bi-facebook"></i
          ></a>
        </li>
        <li class="ms-3 iconos">
          <a
            class="text-black"
            href="https://youtube.com/@sorteoslamochila?si=3fw1EtZ2ZwnPp_Ud"
            target="_blank"
            ><i class="bi bi-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
