
header {
    background:url('../assets/images/fondo2.jpg') center center fixed !important; 
}

#footer {
    background:url('../assets/images/fondo2.jpg') center center fixed !important; 
    padding-top: 1px;
    padding-bottom: 1px;
}

#body
{
    background:url('../assets/images/fondo.png') center center fixed !important; 
    min-height: 800px;
}

@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-spinner {
    color: black;
    font-size: 20px;
}

.container-header {
    font-size: x-large;
    margin-left: 0%;
    margin-right: 0px;
    max-width: 100%;
}

.list-header-text {
    border-right-color: white !important;
    border: 1px solid transparent;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.img-logo-header {
    max-width: 65px;
}

.font-bold {
    font-weight: bolder !important;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  .ico-whats-flotante {
    font-size: 37px;
  }

  .row {
    max-width: 100%;
}

.text-aviso {
    font-size: 10px;
}