.div-title{
    text-align: center;
    background-color: #01fa3f;
}

.text-title{
    color: #fa083a;
    font-size: calc(2em + 3vw) !important;
    font-weight: bolder;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
}

.text-separated {
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
}

.font-bold {
    font-weight: bolder !important;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.pd-40 {
    padding-top: 40px;
}

.iconos { 
    font-size: calc(2em + 3vw);
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    max-width: 100%;
}