<div class="div-title">
  <h1 class="text-title fs-1">COMPRAR</h1>
</div>

<div style="padding: 0 16px; max-width: 600px; margin: auto">
  <div class="mt-40 text-center">
    <h3 class="font-bold">CFMOTO 450 SRS 2024</h3>
    <div class="text-gray font-bold" style="font-size: 16px">
      <span class="d-block">Llévatela nueva y facturada a tu nombre.</span>
      <span class="d-block">31 de diciembre 2024.</span>
    </div>
  </div>

  <div class="mt-4">
    <h3 class="font-bold text-center text-gray" style="font-size: 16px">
      2 boletos por $10
      <br />4 boletos por $20 <br />6 boletos por $30 <br />8 boleto por $ 40
      <br />10 boletos por $50 <br />12 boletos por $60 <br />14 boletos por $70
      <br />16 boletos por $80 <br />18 boletos por $90 <br />20 boletos por
      $100
    </h3>
  </div>

  <div class="mt-30 w-100">
    <div class="w-100 pb-40">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../../assets/images/rifa450sr/moto1.jpeg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../../assets/images/rifa450sr/moto2.jpeg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../../assets/images/rifa450sr/moto3.jpeg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../../assets/images/rifa450sr/moto4.jpeg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="../../assets/images/rifa450sr/moto5.jpeg"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-list-available></app-list-available>
